:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
}

body {
    background: #DDDDDD;
    font-size: 18px;
    line-height: 1.5;
}

.page-container {
    margin-top: 75px;
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
        "nav nav"
        "main main"
        "foot foot";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
            "nav main"
            "foot foot";
    }
}

body>* {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body>header {
    grid-area: head;
    background-color: #DDDDDD;
}

body>nav {
    grid-area: nav;
    background-color: #DDDDDD;
}

body>main {
    grid-area: main;
    background-color: #DDDDDD;
}

body>footer {
    grid-area: foot;
    background-color: #DDDDDD;
}

header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1,
footer h1 {
    margin: 0;
}

body>nav ul {
    list-style-type: none;
    padding: 0;
}