body {
    background: #DDDDDD;
    font-size: 18px;
    line-height: 1.5;
}

.page-container {
    margin-top: 75px;
}

body#about img {
    height: 15em;
}

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head nav"
        "main main"
        "foot foot";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body > nav ul li{
        display:list-item;
    }
}

body > * {
    padding-left: 4rem;
}

body>header {
    grid-area: head;
    background-color: #DDDDDD;
}

body>nav {
    grid-area: nav;
    background-color: #DDDDDD;
}

body>main {
    grid-area: main;
    background-color: #DDDDDD;
}

body>footer {
    grid-area: foot;
    background-color: #DDDDDD;
}

header,footer {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
}

header h1, footer h1 {
    margin: 0;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    display: inline-flex;
}